.quizText {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-style: italic;
    color: blue;
}

.midText {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-style: normal;
    color: cadetblue;
}

#center {
    font-style: center;

}

#inside-block-top {
    font-family: Arial, Helvetica, sans-serif;
    color: red; 
}